venv
.idea/$CACHE_FILE$
.idea/.gitignore
.idea/aiogram-bot-template.iml
.idea/codeStyles/
.idea/deployment.xml
.idea/dictionaries
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vagrant.xml
.idea/vcs.xml
/.idea/
*.env
.env
.venv
*/.env
env/
venv/
ENV/
env.bak/
venv.bak/
__pypackages__/
__pycache__/
*.py[cod]
*$py.class